.main-nav {
	display: flex;
	justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      text-transform: uppercase;
      margin: 10px;
      font-family: $sans-serif;
      font-weight: bold;
      font-size: 11px;
      padding: 9px 11px;
      transition: background-color .2s;
      // flex: 1;
    }
  }

  span {
    margin: 10px;
  }
}

.right-nav  {

  > ul {

    > li {
      margin: 2px;
    }

    > li:last-of-type {
      ;
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
